/*Custom app css*/

.image-chooser li {
	list-style: none;
	display: inline-block;
}

.image-chooser li > label > img {
	display: block;
}

.image-chooser img {
	vertical-align: middle;
}

#header {
  height: 50px;
}

#previewCanvas {
	border: 1px dotted black;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  color: #686868;
}

ul.gallery div {
	z-index: 49;
	display: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

div.tooltip {
  font-family: helvetica, verdana, tahoma, sans-serif;
  font-size: 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: #e3e3e3;
}

.sectionTitle {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  color: #686868;
  margin: 1em 0;
  font-weight: normal;
  font-size: 1.25em;
}

#backgroundForm, #foregroundForm {
  border: 1em solid #eee;
  margin-bottom: 20px;
  border-radius: 3em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#finalForm {
  font-family: "Helvetica", sans-serif;
  color: #777;
  margin-top: 00%;
  border: 1em solid #eee;
  border-radius: 3em;
}

#finalForm table {
  margin-bottom: 1em;
}

.fileUpload {
  font-family: "Helvetica", sans-serif;
  color: #777;
  margin-bottom: 1em;
}

.fileUpload table {
  width: 100%;
}

.fileUpload table .firstColumn {
  text-align: right;
}

.fileUpload table .lastColumn {
  text-align: left;
}

.guidanceNote {
  font-size: 0.75em;
}

li:hover .tooltip {
  display: block
}

ul.gallery {

}

ul.gallery li {
  display: inline;
  position: relative;

}

.imageOptions {
  background: #000;
}

div#backgroundForm {
  overflow: hidden;
}

div#foregroundForm {
  overflow: hidden;
}

div.fileUpload {
  /*display:inline-block;*/
  /*margin-left:24%;*/
}

ul.gallery div {
	background: #f3f3f3;
	position: relative;
	display: inline;
	float: left;
	margin: 0 0 27px 15px;
	padding: 10px 10px 25px;
	text-align: center;
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	color: #333;
	font-size: 10px;
	height: 145px;
	width: 165px;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

ul.gallery img {
  display: block;
  width: 162px;
  height: 120px;
  margin-bottom: 12px;
}

#galleryList {
  background-color: #afa;
}

ul.gallery li div:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	z-index: 5;
	background: #ffa;
}

ul.gallery li div:active {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	z-index: 5;
	background: #ff5;
}

ul.gallery li div.active {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	z-index: 5;
	background: #ff5;
}

.clicked {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	z-index: 5;
	background: #ff4;
}

#backgroundNextPrev {
  text-align: center;
}

#submitButtonBar {
  text-align: center;
  margin: 0 0 1em 0;
}

#foregroundNextPrev {
  text-align: center;
}

#spinner {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

.topAlign {
  vertical-align: top;
}

.navButton {
  z-index: 99;
  font-family: "Helvetica";
}

#thumbnailName {
  margin-bottom: 30px;
}

#sidebar {
  font-family: Helvetica;
  color: #777;
}

#update {
  text-align: center;
}

hr {
  height: 5px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.25);
}

/*button{*/
/*text-align: center;*/
/*margin: 20px 50% 0 50%;*/
/*}*/

button, .button:visited {
	font-size: 13px;
	background: #222 url(../images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.large.button, .large.button:visited {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px 9px;
}

.gray.button, .gray.button:visited {
  background-color: #a0a0a0;
}

.gray.button:hover, {
  background-color: #444;
}

.large.button, .large.button:visited {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px 9px;
}

/*Navigation button styling options*/
.leftbutton, .leftbutton:visited {
	font-size: 13px;
	background: #222 url(../images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	margin: auto;
}

.rightbutton, .rightbutton:visited {
	font-size: 70%;
	background: #222 url(../images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	margin: auto;
}

.small.leftbutton, .small.leftbutton:visited {
  font-size: 11px;
}

.small.rightbutton, .small.rightbutton:visited {
  font-size: 11px;
}

.medium.leftbutton, .medium.leftbutton:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.medium.rightbutton, .medium.rightbutton:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.large.leftbutton, .large.leftbutton:visited {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px 9px;
}

.large.rightbutton, .large.rightbutton:visited {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px 9px;
}

.gray.leftbutton, .gray.leftbutton:visited, .gray.rightbutton, .gray.rightbutton:visited {
  background-color: #a0a0a0;
}

.gray.leftbutton:hover, .gray.rightbutton:hover {
  background-color: #444;
}