/*Custom app css*/

      #header {
        height:100px;
      }

      h1 {
        font-family:"Marker Felt", sans-serif;
        font: bold 2em/1em;
        margin: 0;
        color: #686868;
      }

      ul.gallery a {
        display:none;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
      }
      div.tooltip {
         font-family:verdana,tahoma,helvetica,sans-serif;
         font-size:10px;
        display: none;
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index: 99;
        background:#e3e3e3;
    
    }
    li:hover .tooltip{
    display:block
    };

      ul.gallery {
 
      }
      ul.gallery li {
        display: inline;
        position:relative;

      }
      ul.gallery a {
        background: #f3f3f3;
        position:relative;
        display: inline;
        float: left;
        margin: 0 0 27px 30px;
        padding: 10px 10px 15px;
        text-align: center;
        font-family:"Marker Felt", sans-serif;
        text-decoration: none;
        color: #333;
        font-size: 10px;
        height:145px;
        width:165px;
        overflow:hidden;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
      }
      ul.gallery img {
        display: block;
        width: 162px;
        height:120px;
        margin-bottom: 12px;
      }

       ul.gallery li a:hover {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
        z-index: 5;
      }

    .navButton{
        position: absolute;
        top:150px;
        z-index:99;
      }
/*Navigation button styling options*/
.leftbutton, .leftbutton:visited {
   font-size:70%;
	background: #222 url(../images/overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer;
	margin:auto;
}

.rightbutton, .rightbutton:visited {
    font-size:70%;
	background: #222 url(../images/overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	cursor: pointer;
	margin:auto;
}
.small.leftbutton, .small.leftbutton:visited 	{ font-size: 11px;}
.small.rightbutton, .small.rightbutton:visited 	{ font-size: 11px;}
.medium.leftbutton, .medium.leftbutton:visited {
    font-size: 13px; 
    font-weight: bold; 
    line-height: 1; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.medium.rightbutton, .medium.rightbutton:visited { 
    font-size: 13px; 
    font-weight: bold; 
    line-height: 1; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.large.leftbutton, .large.leftbutton:visited { font-size: 14px; font-weight: bold; padding: 8px 14px 9px;}
.large.rightbutton, .large.rightbutton:visited { font-size: 14px; font-weight: bold; padding: 8px 14px 9px; }						
.gray.leftbutton, .gray.leftbutton:visited ,.gray.rightbutton, .gray.rightbutton:visited   	{ background-color: #a0a0a0; }
.gray.leftbutton:hover,.gray.rightbutton:hover	{ background-color: #444; }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 992px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 992px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .grid_1 {
	width:42px;
}

.container_16 .grid_2 {
	width:104px;
}

.container_16 .grid_3 {
	width:166px;
}

.container_16 .grid_4 {
	width:228px;
}

.container_16 .grid_5 {
	width:290px;
}

.container_16 .grid_6 {
	width:352px;
}

.container_16 .grid_7 {
	width:414px;
}

.container_16 .grid_8 {
	width:476px;
}

.container_16 .grid_9 {
	width:538px;
}

.container_16 .grid_10 {
	width:600px;
}

.container_16 .grid_11 {
	width:662px;
}

.container_16 .grid_12 {
	width:724px;
}

.container_16 .grid_13 {
	width:786px;
}

.container_16 .grid_14 {
	width:848px;
}

.container_16 .grid_15 {
	width:910px;
}

.container_16 .grid_16 {
	width:972px;
}




/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .prefix_1 {
	padding-left:62px;
}

.container_16 .prefix_2 {
	padding-left:124px;
}

.container_16 .prefix_3 {
	padding-left:186px;
}

.container_16 .prefix_4 {
	padding-left:248px;
}

.container_16 .prefix_5 {
	padding-left:310px;
}

.container_16 .prefix_6 {
	padding-left:372px;
}

.container_16 .prefix_7 {
	padding-left:434px;
}

.container_16 .prefix_8 {
	padding-left:496px;
}

.container_16 .prefix_9 {
	padding-left:558px;
}

.container_16 .prefix_10 {
	padding-left:620px;
}

.container_16 .prefix_11 {
	padding-left:682px;
}

.container_16 .prefix_12 {
	padding-left:744px;
}

.container_16 .prefix_13 {
	padding-left:806px;
}

.container_16 .prefix_14 {
	padding-left:868px;
}

.container_16 .prefix_15 {
	padding-left:930px;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .suffix_1 {
	padding-right:62px;
}

.container_16 .suffix_2 {
	padding-right:124px;
}

.container_16 .suffix_3 {
	padding-right:186px;
}

.container_16 .suffix_4 {
	padding-right:248px;
}

.container_16 .suffix_5 {
	padding-right:310px;
}

.container_16 .suffix_6 {
	padding-right:372px;
}

.container_16 .suffix_7 {
	padding-right:434px;
}

.container_16 .suffix_8 {
	padding-right:496px;
}

.container_16 .suffix_9 {
	padding-right:558px;
}

.container_16 .suffix_10 {
	padding-right:620px;
}

.container_16 .suffix_11 {
	padding-right:682px;
}

.container_16 .suffix_12 {
	padding-right:744px;
}

.container_16 .suffix_13 {
	padding-right:806px;
}

.container_16 .suffix_14 {
	padding-right:868px;
}

.container_16 .suffix_15 {
	padding-right:930px;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .push_1 {
	left:62px;
}

.container_16 .push_2 {
	left:124px;
}

.container_16 .push_3 {
	left:186px;
}

.container_16 .push_4 {
	left:248px;
}

.container_16 .push_5 {
	left:310px;
}

.container_16 .push_6 {
	left:372px;
}

.container_16 .push_7 {
	left:434px;
}

.container_16 .push_8 {
	left:496px;
}

.container_16 .push_9 {
	left:558px;
}

.container_16 .push_10 {
	left:620px;
}

.container_16 .push_11 {
	left:682px;
}

.container_16 .push_12 {
	left:744px;
}

.container_16 .push_13 {
	left:806px;
}

.container_16 .push_14 {
	left:868px;
}

.container_16 .push_15 {
	left:930px;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .pull_1 {
	left:-62px;
}

.container_16 .pull_2 {
	left:-124px;
}

.container_16 .pull_3 {
	left:-186px;
}

.container_16 .pull_4 {
	left:-248px;
}

.container_16 .pull_5 {
	left:-310px;
}

.container_16 .pull_6 {
	left:-372px;
}

.container_16 .pull_7 {
	left:-434px;
}

.container_16 .pull_8 {
	left:-496px;
}

.container_16 .pull_9 {
	left:-558px;
}

.container_16 .pull_10 {
	left:-620px;
}

.container_16 .pull_11 {
	left:-682px;
}

.container_16 .pull_12 {
	left:-744px;
}

.container_16 .pull_13 {
	left:-806px;
}

.container_16 .pull_14 {
	left:-868px;
}

.container_16 .pull_15 {
	left:-930px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}